# Plots of the 
_Calvin Whealton_

This notebooks makes plots of the Zillow housing value index (ZHVI), flood insurance claims, and return periods of floods. Only the available data for each zip code is plotted.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import geopandas as gpd
import numpy as np

Reading in the relevant files. Each of the Zillow (housing price), National Flood Insurance Program claims, and stream gages will be read-in separately.

In [2]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/data/processed_data')
housing = pd.read_csv('zillow_mon_pct_val.csv')

In [3]:
housing.head()

,Unnamed: 0,GEOID10_str,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,...,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30
0,0,10025,-0.622468,0.033648,-0.010781,0.228580,0.277544,-0.048918,0.350754,0.151876,...,-1.321208,-1.127738,-0.354220,-0.278399,-1.503670,-2.091515,-2.693535,-1.391954,-1.227531,-0.749365
1,1,60657,-0.074145,-0.194243,-0.064400,-0.268664,0.087896,-0.101585,0.289858,0.424054,...,-0.173436,-0.190120,-0.196764,-0.159995,-0.033352,0.214825,0.283993,0.151614,-0.044465,-0.022445
2,2,10023,0.020751,0.055324,0.356155,0.516132,0.420378,0.138870,0.041684,0.157450,...,-1.215343,-0.745062,0.262560,1.630651,1.583128,0.977344,-0.186492,0.546060,0.137881,0.092207
3,3,77494,0.123734,-0.098167,-0.593074,-0.571021,-0.336102,0.386353,-0.157881,-0.329901,...,0.046731,0.011305,-0.005057,0.027369,-0.081788,0.057745,0.136247,0.316983,0.273633,0.170407
4,4,60614,-0.091486,-0.184188,-0.050421,-0.241024,0.031254,-0.175882,0.200458,0.384671,...,-0.184404,-0.146682,-0.213063,-0.208860,-0.065201,0.002803,0.035346,-0.157832,-0.169151,-0.163035

In [4]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/data/processed_data')
claims = pd.read_csv('ts_claims_month.csv')

In [5]:
claims.head()

,Unnamed: 0,GEOID10_str,1973-04,1973-08,1974-04,1974-05,1974-08,1974-09,1974-11,1974-12,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
0,0,1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/data/processed_data')
ret_pers = pd.read_csv('ts_rps_2020-08-15.csv')

In [7]:
ret_pers.head()

,Unnamed: 0,Gage,1970,1971,1972,1973,1974,1975,1976,1977,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,1123500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,14330000,8.080533,19.241657,11.219280,0.000000,16.922831,1.678026,0.000000,9.219079,...,1.387213,9.179891,5.308169,0.000000,19.241657,0.000000,1.584428,2.655489,0.000000,0.000000
2,2,1672500,1.189020,2.197051,61.152950,1.926720,0.000000,8.965656,1.919656,0.000000,...,0.000000,3.071064,0.000000,1.535520,5.361556,1.094779,1.481902,0.000000,0.000000,0.000000
3,3,6800500,1.031737,13.801814,1.422608,1.396862,3.027660,1.602035,1.163603,1.426635,...,29.483409,4.248192,1.317836,1.104081,3.005021,2.304590,5.597324,2.135125,5.636235,407.128120
4,4,1127000,5.876527,1.051181,5.331454,3.552825,1.918525,1.246869,5.597000,1.593345,...,129.081341,3.723409,0.000000,3.022335,3.552825,1.203760,1.161817,1.384447,2.316674,2.730311

In [8]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/data/processed_data')

zip_gage = pd.read_csv('zip_gage_dist_2020-08-10.csv')

In [9]:
zip_gage.head()

,Unnamed: 0,ZCTA5CE10,GEOID10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,x,y,geometry,...,gage5,dist5,gage6,dist6,gage7,dist7,gage8,dist8,gage9,dist9
0,0,43451,43451,63484186,157689,41.318301,-83.617494,-83.617494,41.318301,POINT (1357632.981903858 -273355.0236152691),...,4197500,35048.269737,4195820,38047.461696,4177000,38127.199412,4198000,38153.116744,4176900,38912.761534
1,1,43452,43452,121522304,13721730,41.515792,-82.980945,-82.980945,41.515792,POINT (1405077.788522715 -240979.1349070556),...,4199000,38992.381755,4199155,42889.448497,4197170,47669.895781,4198100,48099.579127,4177000,54583.146601
2,2,43456,43456,9320975,1003775,41.631830,-82.839392,-82.839392,41.631830,POINT (1413951.1585467 -225837.3870959734),...,4197500,48263.019518,4198100,50798.462462,4199500,51313.907210,4197300,54115.851576,4176605,56928.044679
3,3,43457,43457,48004681,0,41.267330,-83.427487,-83.427487,41.267330,POINT (1374212.851300819 -275772.6169586082),...,4195820,30266.616017,4197000,31432.801554,4189000,32218.889964,4192900,34624.114203,4193500,35022.435948
4,4,43458,43458,2573816,39915,41.530446,-83.213365,-83.213365,41.530446,POINT (1385905.375784243 -243339.0096639248),...,4177000,35956.931241,4176900,40417.635485,4192900,41341.050532,4193500,41563.461857,4176605,42369.956528

In [10]:
zip_gage.shape[0]

33144

In [11]:
claims.shape[0]

21434

In [12]:
housing.shape[0]

30443

# making figures

In [13]:
# loop through all the zip codes that are in the
os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/data/geo_data/tl_2019_us_zcta510_clipped48contig')
zip_shape = gpd.read_file('clipped48contig.shp')
zip_shape['GEOID10_str'] = zip_shape['GEOID10'].apply(lambda x: '{0:0>5}'.format(x))

In [14]:
size=15
params = {'legend.fontsize': 'large',
          'figure.figsize': (20,8),
          'axes.labelsize': size,
          'axes.titlesize': size,
          'xtick.labelsize': size*0.75,
          'ytick.labelsize': size*0.75,
          'axes.titlepad': 0,
          'axes.titlepad': 25}

plt.rcParams.update(params)

x_names = (housing.columns[2:housing.shape[1]])[0:288]

for z in zip_shape['GEOID10'].astype(int).values[29071:zip_shape.shape[0]]:
    if z in housing['GEOID10_str'].astype(int).values:
        os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/visualizations/zip_results/zip_housing_vals')
        hou_temp = housing.loc[housing['GEOID10_str'].astype(int) == z]
        
        plt.figure(figsize=(10,5))
        x_vals = np.arange(0,len(x_names))
        y_vals = hou_temp.iloc[0][x_names]
        plt.plot(x_vals,y_vals,color='#bcbddc')
        plt.xlabel('Date')
        plt.ylabel('% Change (M-over-M)')
        plt.xticks(np.arange(-1,len(x_vals),12), np.arange(1996,2021), rotation='vertical')
        plt.title('Zillow Housing Value Index')
        plt.savefig(str(z).zfill(5) + '_housing'+'.png')
        plt.close()
        

    if z in claims['GEOID10_str'].astype(int).values:
        os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/visualizations/zip_results/zip_claims')
        cla_temp = claims.loc[claims['GEOID10_str'].astype(int) == z]
        
        plt.figure(figsize=(10,5))
        claims_temp = claims.loc[claims['GEOID10_str'].astype(int) == z]
        x_vals = np.arange(0,len(x_names))
        y_vals = np.append(np.array(claims_temp.iloc[0][-284:]),np.zeros(4))
        if max(y_vals) != 0:
            plt.bar(x_vals,y_vals,color='#4daf4a')
            plt.xlabel('Date')
            plt.ylabel('Claims (USD)')
            plt.xticks(np.arange(-1,len(x_vals),12), np.arange(1996,2021), rotation='vertical')
            plt.title('National Flood Insurance Claims')
        plt.savefig(str(z).zfill(5) + '_zip_claims'+'.png')
        plt.close()
            
    if z in zip_gage['GEOID10'].astype(int).values:
        os.chdir('/Users/calvinwhealton/Documents/GitHub/floods_housing_zipcode/visualizations/zip_results/zip_rps')
        
        gage_lookup_temp = zip_gage.loc[zip_gage['GEOID10'] == z]
        plt.figure(figsize=(10,5))
        gage_cols = ['#a6cee3','#1f78b4','#b2df8a','#33a02c','#fb9a99','#e31a1c','#fdbf6f','#ff7f00','#cab2d6','#6a3d9a']
        for j in range(10):
            if  gage_lookup_temp['gage'+str(j)].values[0] in ret_pers['Gage'].values:
                plt.scatter(np.arange(1996,2020),\
                            np.ndarray.flatten((ret_pers.loc[ret_pers['Gage'].values==gage_lookup_temp['gage'+str(j)].values[0]]).values)[-24:],\
                            c=gage_cols[j])

        plt.yscale('log')
        plt.xlabel('Date')
        plt.xticks(np.arange(1996,2020), np.arange(1996,202), rotation='vertical')
        plt.ylabel('Return Period (yrs)')
        plt.title('Extremes in Flood Series')
        plt.ylim((1,500))
        plt.savefig(str(z).zfill(5) + '_zip_rps'+'.png')
        plt.close()

In [ ]:
gage_lookup_temp['gage'+str(j)].values[0] in ret_pers['Gage'].values

In [ ]:
np.arange(1996,2020)