# Determining Mapped Flood Zones for Zip Codes
_Calvin Whealton_

The Data Incubator Capstone Project Work

This notebook scrapes the FEMA website to determine which zip codes have flood maps and which ones do not. An API for the website based on searching will be developed. This can then be parsed to determine areas that have been mapped.

Packages loaded for this notebook.

In [6]:
import pandas as pd
import geopandas as gpd
import requests
from bs4 import BeautifulSoup
import os

Importing a file of the zip code tabulation areas (ZCTAs) used by the US census. Only the zip codes in the 48 contiguous states will be used. The original tigerline file has been clipped to the 48 states using QGIS.

In [8]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/tdi_capstone/data/geo_data/tl_2019_us_zcta510_clipped48contig')

zips_48 = gpd.read_file('clipped48contig.shp')

The ZCTA5CE10 and GEOID10 columns both seem to have the same information.

In [9]:
zips_48.head()

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,43451,43451,B5,G6350,S,63484186,157689,+41.3183010,-083.6174935,"POLYGON ((-83.70873 41.32733, -83.70815 41.327..."
1,43452,43452,B5,G6350,S,121522304,13721730,+41.5157923,-082.9809454,"POLYGON ((-83.08698 41.53780, -83.08256 41.537..."
2,43456,43456,B5,G6350,S,9320975,1003775,+41.6318300,-082.8393923,"MULTIPOLYGON (((-82.83558 41.71082, -82.83515 ..."
3,43457,43457,B5,G6350,S,48004681,0,+41.2673301,-083.4274872,"POLYGON ((-83.49650 41.25371, -83.48382 41.253..."
4,43458,43458,B5,G6350,S,2573816,39915,+41.5304461,-083.2133648,"POLYGON ((-83.22229 41.53102, -83.22228 41.532..."

Creating a dataframe that will include the zip code and the representative flood map, if it exists.

In [15]:
zips_check_maps = zips_48['GEOID10'].values

In [19]:
zips_flood_maps = pd.DataFrame(columns=['zip','map'])

In [ ]:

for zip_check in zips_check_maps:
    
    url_api = 'https://msc.fema.gov/portal/search?AddressQuery=' + zip_check + '#searchresultsanchor'

In [40]:
zip_check = '89003'
url_api = 'https://msc.fema.gov/portal/search?AddressQuery=' + zip_check + '#searchresultsanchor'

page = requests.get(url_api)

In [44]:
url_api

'https://msc.fema.gov/portal/search?AddressQuery=89003#searchresultsanchor'

In [41]:
soup = BeautifulSoup(page.text, "lxml")

In [42]:
flood_map = soup.select('.mapareanumber')

In [43]:
flood_map