# Zip Code Elevations
_Calvin Whealton_

This notebook develops some of the non-flood features for each zip code. This data would be the demographics, elevations, etc for the zip code.

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import requests
import os

In [3]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/tdi_capstone/data/geo_data/tl_2019_us_zcta510_clipped48contig')

zip_locs = gpd.read_file('clipped48contig.shp')

In [4]:
zip_locs.head()

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,43451,43451,B5,G6350,S,63484186,157689,+41.3183010,-083.6174935,"POLYGON ((-83.70873 41.32733, -83.70815 41.327..."
1,43452,43452,B5,G6350,S,121522304,13721730,+41.5157923,-082.9809454,"POLYGON ((-83.08698 41.53780, -83.08256 41.537..."
2,43456,43456,B5,G6350,S,9320975,1003775,+41.6318300,-082.8393923,"MULTIPOLYGON (((-82.83558 41.71082, -82.83515 ..."
3,43457,43457,B5,G6350,S,48004681,0,+41.2673301,-083.4274872,"POLYGON ((-83.49650 41.25371, -83.48382 41.253..."
4,43458,43458,B5,G6350,S,2573816,39915,+41.5304461,-083.2133648,"POLYGON ((-83.22229 41.53102, -83.22228 41.532..."

## Elevation

Elevation determined by quering The National Map (digital elevation model). The query is a location (latitude and longitude). Details are provided at https://ned.usgs.gov/epqs/.

In [5]:
zip_locs['elev'] = 0

In [55]:
for i in zip_locs.index[31470:(zip_locs.shape[0]-1)]:
    lat_use = str(zip_locs.loc[i,'INTPTLAT10'])
    lon_use = str(zip_locs.loc[i,'INTPTLON10'])
    url_request = 'https://nationalmap.gov/epqs/pqs.php?x='+lon_use+'&y='+lat_use+'&units=Meters&output=json&__ncforminfo=-A6A3RtjhJesgpIQkA3oV15xHP1_AffUFJuLGuCAwX6fN06_DWl34Pv7LwvpkHaY2xsnRcu_ZTbk4wqXYiOGUc6W-EMvfa7ueBHOT7cmaaBSac52KZjLePtMrCcrI9bq1SCWu5Bh_iTML1znkLmecQ%3D%3D&__ncforminfo=UnfJvKRYE6Own7A_Y06CvQjv92NpJFml1ahW0BuIllKDhfl-HMdCrbPqweBZFLwxji2XgmuMVgiC7EzWLyktUjHVzRfeVGLJLaKr_qsL-HhzWskc7CyaJy38kZ4q4fWhuy3hqTfV4iG8tkGjM92IQMmHifWQcm-s'
    json_str = (requests.get(url_request)).text
    zip_locs.loc[i,'elev'] = (json_str.split('\"Elevation\":')[-1]).split(',')[0]

In [36]:
zip_locs.shape[0]

32657

In [58]:
zip_locs = zip_locs.dropna()

In [59]:
zip_locs.head()

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry,elev
0,43451,43451,B5,G6350,S,63484186,157689,+41.3183010,-083.6174935,"POLYGON ((-83.70873 41.32733, -83.70815 41.327...",206.38
1,43452,43452,B5,G6350,S,121522304,13721730,+41.5157923,-082.9809454,"POLYGON ((-83.08698 41.53780, -83.08256 41.537...",174.5
2,43456,43456,B5,G6350,S,9320975,1003775,+41.6318300,-082.8393923,"MULTIPOLYGON (((-82.83558 41.71082, -82.83515 ...",186.46
3,43457,43457,B5,G6350,S,48004681,0,+41.2673301,-083.4274872,"POLYGON ((-83.49650 41.25371, -83.48382 41.253...",217.28
4,43458,43458,B5,G6350,S,2573816,39915,+41.5304461,-083.2133648,"POLYGON ((-83.22229 41.53102, -83.22228 41.532...",184.67

In [64]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/tdi_capstone/data/processed')

zip_locs.to_file("zips_with_elev.shp")